/* ======================
   Reset mínimo
====================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'KoHo', system-ui, sans-serif;
  line-height: 1.6;
  color: #222;
  background-color: #fff;
}

/* ======================
   Utilitários
====================== */
.container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
}

/* Limita largura no desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
    margin: 0 auto;
    border-top: 20px;
  }
}

/* ======================
   Tipografia fluida
====================== */
h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2.2rem);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

p {
  font-size: clamp(1rem, 1.2vw, 1.15rem);
}

/* ======================
   Header
====================== */
.hero {
  background-image: linear-gradient(to right, #0a1c4b,#2e418f);
}

.lb-title{
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.lb-subtitle{
  color: #03aebf;
  font-size: 20px;
  font-weight: 600;
  text-align: center;

}

.lb-h2-text{
  color: #2e418f;
  margin: 2px;
}

.lb-paragraph{
  text-align: justify;

}

.lb-gray-st{
  color: #aaa;
  margin: 2px;
}

.lb-logo{
  display: block;
  margin-left:auto;
  margin-right:auto; 
  width: 25%"
}

/* ======================
   Seção imagem + texto
====================== */
.about {
  padding: 1rem 0;
}

.about__content {
  display: flex;
  flex-direction: column; /* MOBILE FIRST */
  gap: 1.5rem;
}

.about__image img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

/* Desktop: imagem à esquerda, texto à direita */
@media (min-width: 768px) {
  .about__content {
    flex-direction: row;
    align-items: center;
  }

  .about__image,
  .about__text {
    flex: 1;
  }
}

/* ======================
   Footer
====================== */
.footer {
  background: #2e418f;
  color: #fff;
  text-align: center;
  font-size: 0.5rem;
}
